<div ng-controller="NewsfeedController" style="padding:20px;">
    <h1 ng-init="getAllMessages()">Newsfeed</h1>

    <div>
        <div class="pull-right">
            <label>Mute user:</label>
            <input type="text" id="mute-user" />
            <a class="btn btn-danger btn-xs">Mute</a>
        </div>
        <div class="">
            <label>Post message:</label>
            <input type="text" ng-model="userMessage" />
            <a ng-click="postMessage()" class="btn btn-primary btn-xs">Post</a>
        </div>
    </div>


    <h3>Messages</h3>

    <!--<div ng-repeat="msg in allMessages">
        <span>{{msg.content}}</span>
    </div>-->

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>User</th>
                <th>Message</th>
                <th>Likes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-repeat ="msg in allMessages">
            <tr>
                <td>{{msg.author.username}}</td>
                <td>{{msg.content}}</td>
                <td>{{msg.likes.length}}</td>
                <td>
                    <a class="btn btn-primary btn-sm" ng-click="like(msg._id)">Like</a>
                    <a class="btn btn-danger btn-sm" ng-click="mute(msg.author._id)">Mute</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>