<div ng-controller="UsersRatingController" style="padding:20px;">
    <h1>Top users</h1>
    <table class="table table-striped table-hover " ng-init="getAllUsers()">
        <thead>
            <tr>
                <th>User</th>
                <th>Likes </th>
            </tr>
        </thead>
        <tbody ng-repeat="user in allUsers">
            <tr>
                <td>{{user.author.username}}</td>
                <td>{{user.likes.length}}</td>
            </tr>
        </tbody>
    </table>
</div>